@layer globals {
  * {
    font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
    color: var(--colors-foreground);
  }

  body {
    background-color: var(--colors-background);
  }

  /* Improve Page speed */
  /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
  img {
    content-visibility: auto;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--colors-foreground);
    height: 1px;
  }
}
