@layer globals {
  @font-face {
    font-family: "IBM Plex Serif Regular";
    src: url("/fonts/IBMPlexSerif-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IBM Plex Serif Semibold";
    src: url("/fonts/IBMPlexSerif-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IBM Plex Serif-fallback";
    size-adjust: 117.1%;
    ascent-override: 86%;
    src: local("Times New Roman");
  }

  * {
    color: var(--colors-foreground);
    font-family: var(--font-regular);
  }

  body {
    background-color: var(--colors-background);
  }

  /* Improve Page speed */
  /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
  img {
    content-visibility: auto;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--colors-foreground);
    height: 1px;
  }
}
