@layer tokens {
  :root {
    --light: #fff8e7;
    --dark: #000718;

    --colors-red: #e0333a;
    --colors-purple: #805ad5;
    --colors-background: var(--light);
    --colors-foreground: var(--dark);

    --font-body-base: 1rem;
    --font-body-sm: 0.875rem;
    --font-body-xs: 0.75rem;
    --font-heading-2xl: 1.5rem;

    --screens-sm: 576px;
    --screens-md: 768px;
    --screens-lg: 1024px;
    --screens-xl: 1280px;
    --screens-2xl: 1536px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --colors-background: var(--dark);
      --colors-foreground: var(--light);
    }
  }
}
