---
import MainLayout from '@/layouts/main.astro'
---

<MainLayout>
  <h1>404</h1>
  <h2>It seems that the page you're looking for doesn't exist...</h2>
</MainLayout>

<style>
  h1 {
    font-size: var(--fontSizes-9xl);
    font-family: var(--font-code);
    text-align: center;
  }
  h2 {
    font-size: var(--fontSizes-xl);
    font-family: var(--font-code);
    text-align: center;
    margin-top: 32px;
  }
</style>
