---
import MainLayout from '@/layouts/MainLayout.astro' 
import { panda } from '@/panda/jsx'
---
<MainLayout>
  <h1>Astro</h1>
  <panda.h2 fontSize="7xl">Welcome to my new website!</panda.h2>
  <a href='/about'>Check out my about page</a>
</MainLayout>
