---
import { getCollection } from 'astro:content'

import MainLayout from '@/layouts/main.astro'
import VideoCard from '@/components/video-card.astro'

const talks = (await getCollection('talks')).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
)
---

<MainLayout title='Talks' desc='A list of all talks given by Lazar Nikolov.'>
  <ul class='talks'>
    {
      talks.map((talk) => (
        <li>
          <VideoCard url={talk.data.url} title={talk.data.title} />
        </li>
      ))
    }
  </ul>
</MainLayout>

<style>
  .talks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    overflow: hidden;
    margin-top: 88px;
  }

  @media (max-width: 768px) {
    .talks {
      grid-template-columns: 1fr;
    }
  }
</style>
