---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="title--container">
  <h1>{title}</h1>
</div>

<style>
  .title--container {
    display: flex;
    align-items: center;
    padding: 12px 0px;
    border-bottom: 1px solid var(--colors-foreground);
  }

  .title--container h1 {
    font-size: var(--fontSizes-2xl);
  }
</style>
