---
---

<div class='prose'>
  <slot />
</div>

<style is:global>
  .prose h1 {
    font-weight: 600;
    font-family: var(--font-semibold);
    font-size: var(--prose-h1);
    margin-bottom: var(--prose-h1-mb);
  }
  .prose h2 {
    font-weight: 600;
    font-family: var(--font-semibold);
    font-size: var(--prose-h2);
    margin-bottom: var(--prose-h2-mb);
  }
  .prose h3 {
    font-weight: 600;
    font-family: var(--font-semibold);
    font-size: var(--prose-h3);
    margin-bottom: var(--prose-h3-mb);
  }
  .prose h4 {
    font-weight: 600;
    font-family: var(--font-semibold);
    font-size: var(--prose-h4);
    margin-bottom: var(--prose-h4-mb);
  }
  .prose p {
    font-weight: normal;
    font-size: var(--prose-p);
    line-height: 26px;
    margin: 24px 0px;
  }
  .prose a {
    color: var(--colors-purple);
  }
  .prose blockquote {
    font-style: italic;
    font-weight: 600;
    font-family: var(--font-semibold);
    padding-start: 16px;
    border-start-width: 4px;
    border-start-color: var(--colors-foreground);
  }
  .prose ul {
    padding-inline-start: 24px;
    list-style-type: disc;
    margin: 24px 0px;
  }
  .prose ol {
    padding-inline-start: 24px;
    list-style: parens;
    margin: 24px 0px;
  }
  .prose li {
    padding-inline-start: 8px;
    margin: 12px 0px;
    line-height: 26px;
  }
  .prose img {
    width: 100%;
    height: auto;
  }
  .prose pre {
    overflow: hidden;
    max-height: 80vh;
    margin-bottom: 24px;
  }
  .prose pre code {
    font-family: var(--font-code);
    flex: 1;
    overflow-x: auto;
    color: #9e3110;
    padding: 16px;
    font-size: var(--fontSizes-xs);
  }
  .prose pre code span {
    font-family: inherit;
  }
  .prose code {
    font-family: var(--font-code);
  }
  .prose code::before,
  .prose code::after {
    content: '`';
  }
  .prose pre > code::before,
  .prose pre > code::after {
    content: '';
  }

  /* code block theming */
  .prose pre[class^='language-'] {
    background: #fffffe;
    display: flex;
  }
  .prose pre[class^='language-'] aside {
    user-select: none;
    flex-shrink: 0;
    content: attr(data-lang);
    background: #ded5cd;
    padding: 4px;
    border-left: 1px solid #d18e5b;
    writing-mode: vertical-lr;
    font-size: var(--fontSizes-sm);
    padding-top: 12px;
  }
  .prose pre[class^='language-'] code::-webkit-scrollbar {
    height: 12px;
  }
  .prose pre[class^='language-'] code::-webkit-scrollbar-thumb {
    background: #d6cbc1;
    cursor: pointer;
  }
  .prose pre[class^='language-'] code span.token.comment {
    color: #235816;
    font-family: var(--font-code-italic);
  }
  .prose pre[class^='language-'] code span.token.punctuation {
    color: #1330f0;
  }
  .prose pre[class^='language-'] code span.token.operator {
    color: #a9a9a9;
  }
  .prose pre[class^='language-'] code span.token.keyword {
    color: #000085;
  }
  .prose pre[class^='language-'] code span.token.string {
    color: #7f170e;
  }
  .prose pre[class^='language-'] code span.token.function {
    color: #1e00f5;
  }
  .prose pre[class^='language-'] code span.token.builtin {
    color: #000085;
  }
  .prose pre[class^='language-'] code span.token.class-name {
    color: #724198;
  }
  .prose pre[class^='language-'] code span.token.number {
    color: #75147c;
  }
  .prose pre[class^='language-'] code span.token.boolean {
    color: #377e7f;
  }
  @media (prefers-color-scheme: dark) {
    .prose pre code {
      color: #e4cd72;
    }
    .prose pre[class^='language-'] {
      background: #171717;
    }
    .prose pre[class^='language-'] aside {
      background: #575775;
      border-left: 1px solid #d18e5b;
    }
    .prose pre[class^='language-'] code::-webkit-scrollbar-thumb {
      background: #575775;
    }
    .prose pre[class^='language-'] code span.token.comment {
      color: #7c6f64;
    }
    .prose pre[class^='language-'] code span.token.punctuation {
      color: #ffcc99;
    }
    .prose pre[class^='language-'] code span.token.operator {
      color: #99ddff;
    }
    .prose pre[class^='language-'] code span.token.keyword {
      color: #dd99ff;
    }
    .prose pre[class^='language-'] code span.token.string {
      color: #ccff99;
    }
    .prose pre[class^='language-'] code span.token.function {
      color: #4ebca6;
    }
    .prose pre[class^='language-'] code span.token.builtin {
      color: #a26e26;
    }
    .prose pre[class^='language-'] code span.token.class-name {
      color: #99ddff;
    }
    .prose pre[class^='language-'] code span.token.number {
      color: #ff99dd;
    }
    .prose pre[class^='language-'] code span.token.boolean {
      color: #f0ba53;
    }
  }
</style>
