---
import MainLayout from '@/layouts/main.astro'
import Prose from '@/components/prose.astro'
---

<MainLayout title='About' desc='The story of Lazar Nikolov.'>
  <Prose>
    <div class='about--container'>
      <slot />
    </div>
  </Prose>
</MainLayout>

<style is:global>
  .about--container {
    display: flex;
    flex-direction: column;
    margin-top: 83px;
    padding: 40px;
    border: 1px solid var(--colors-foreground);
  }

  .about--container h2 {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .about--container p {
    margin: 0px 0px 16px 0px;
  }

  .about--container p:has(img) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    justify-items: center;
    gap: 1rem;
  }

  .about--container img {
    border: 2px solid var(--colors-foreground);
    max-width: 300px;
  }

  @media (max-width: 768px) {
    .about--container {
      padding: 24px;
      flex-direction: column-reverse;
    }
    .about--container p:has(img) {
      grid-template-columns: 1fr;
    }
  }
</style>
