---
import '@/styles/index.css';
import '@/styles/reset.css';
import '@/styles/tokens.css';
import '@fontsource/ibm-plex-serif';

import Header from '@/components/header/index.astro';
import { SEO } from 'astro-seo';

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, desc, ogimage } = Astro.props;

const makeTitle = title ? `${title} | Lazar Nikolov` : 'Lazar Nikolov - Developer, designer, course creator.';

const resolvedImage = ogimage ?? new URL('/ogimage.png', Astro.site).toString()
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description={desc || "Full-stack Engineer, UI Designer, and Open Source Advocate."}
      canonical={canonicalURL}
      twitter={{
        creator: "@NikolovLazar",
        site: "@NikolovLazar",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: resolvedImage,
        },
        image: {
          alt: "Lazar Nikolov's website"
        }
      }}
    />
  </head>
  <body>
    <div class="container">
      <Header />
      <slot />
    </div>

    <style>
      .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 768px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }
    </style>

    <style is:global>
      @import "../styles/globals.css";
    </style>
  </body>
</html>
